 @import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&family=Cinzel:wght@400;500&family=DynaPuff:wght@500&family=Fauna+One&family=Jura:wght@600&family=Righteous&family=Slabo+27px&family=Source+Code+Pro:wght@500&family=Squada+One&display=swap');

 *{
  box-sizing: border-box;
 }
 body{
  margin:0;
  padding:0;
 }
 .App{
  margin:auto;
 }